.pushable {
  height: 100vh;
}

.pusher {
  height: 100%;
}

.ui.basic.segment {
  height: 100%;
}

.ui.embed {
  height: 100%;
  width: auto;
  max-width: 89.5%;
  padding-bottom: 0px;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
  text-align: left;
}

.ui.statistic+.ui.statistic {
  margin: 0;
}

.marginAbove {
  margin-top: 10% !important;
}
